*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#eee;
}

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#4CAF50;

    color:white;

    padding:15px 30px;

}

nav ul{

    display:flex;

    gap:20px;

    list-style:none;

}

h2{

    margin:30px;

}

.productos{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:20px;

    padding:20px;

}

.card{

    background:white;

    border:1px solid #ccc;

    padding:20px;

    text-align:center;

}

button{

    margin-top:15px;

    padding:10px;

    width:100%;

    background:#4CAF50;

    color:white;

    border:none;

    cursor:pointer;

}

button:hover{

    background:#3d9440;

}
.cart{

    margin:30px;

    padding:20px;

    background:white;

    border:1px solid #ccc;

}

.cart h2{

    margin-bottom:15px;

}

.cart p{

    margin:8px 0;

}